{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Home {% endblock %}

{% block main %}


<h1>Welcome to Bucket - List</h1>
    
<img src="{{ asset('img/bucket.jpg') }}" width="800px" height="600px">
{% endblock %}
